<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}
    <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script src="    https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
     <script src="{{ url_for('static', filename='js/form-builder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/form-render.min.js') }}"></script>

</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}

                  {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                  <div class="col-md-12">


                      <div class="build-wrap"></div>
                      <script>
                         jQuery($ => {
                             var options = {
                                 disableFields: ['autocomplete', 'date', 'file']
                             };
                             $('.build-wrap').formBuilder(options)
                         })
                      </script>



                  <nav>
                     <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-home" aria-selected="true">Create new application profile</a>
                          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-edit" role="tab" aria-controls="nav-contact" aria-selected="false">Edit application profile</a>

                      </div>
                     </nav>

                      <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-add" role="tabpanel" aria-labelledby="nav-home-tab">
                          <br>
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Create a new application profile</h6>
                              </div>
                              <div class="card-body">
                              <div class="row">



                                  <div class="col-md-6">
                                      <form method="post" action="/admin/applications/create">
                                      {%  for parameter_name, parameter_info in form_builder.items() %}
                                          <div class="form-row">
                                          {% if parameter_info.type == "input" or parameter_info.type == "textarea" %}
                                              <div class="col-md-10">
                                                {% if parameter_info.type == "input" %}
                                                      {% if parameter_info.required == True %}
                                                          <input required type="text" onchange="generateExample('{{ parameter_name}}', this.value)" name="{{ parameter_name }}" class="form-control" placeholder="{{ parameter_info.placeholder }}">
                                                      {%  else %}
                                                          <input type="text" onchange="generateExample('{{ parameter_name}}', this.value)" name="{{ parameter_name }}" class="form-control" placeholder="{{ parameter_info.placeholder }}">
                                                      {% endif %}
                                                    <br>
                                                {% else %}
                                                    <textarea onchange="generateExample('{{ parameter_name}}', this.value)" class="form-control" name="{{ parameter_name }}"  placeholder="{{ parameter_info.placeholder }}" rows="4"></textarea><br>
                                                {% endif %}
                                              </div>
                                              <div class="col-md-2">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ parameter_name }}">
                                                      Help
                                                    </button>

                                                    <!-- Modal modalBinary -->
                                                    <div class="modal fade" id="modal{{ parameter_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                      <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                          <div class="modal-body">
                                                            {{ parameter_info.help | safe }}
                                                          </div>
                                                          <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <!-- end modal -->
                                              </div>
                                          {% endif %}


                                          {% if parameter_info.type == "checkbox" %}
                                              <div class="form-group form-check">
                                                  <input type="checkbox" onchange="checkBox{{ parameter_name }}(this.id)" class="form-check-input" name="{{ parameter_name }}" id="{{ parameter_name}}">
                                                  <label class="form-check-label" for="pre_exec">{{ parameter_info.placeholder }}</label>
                                              </div>
                                              <script>
                                                 function checkBox{{ parameter_name }}(idName)
                                                 {
                                                     switch (document.getElementById(idName).checked) {
                                                         case true:
                                                             document.getElementById(idName +"-preview").innerHTML = "{{ parameter_info.preview_value | safe }}";
                                                             break;
                                                         case false:
                                                             document.getElementById(idName +"-preview").innerHTML = "";
                                                             break;
                                                     }

                                        }
                                              </script>
                                          {% endif %}

                                          </div> <!-- form row -->





                                      {% endfor %}



                                      <div align="center">
                                           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                          <button type="submit" class="btn btn-success btn-lg">Create application profile</button>
                                      </div>
                                  </form>
                                  <br><br>

                              </div>
                              <div class="col-md-6">
<!-- If you add any new parameters, you can display the value automatically here by creating a value where ID is the name of the parameter -->
<pre class="language-bash">
#PBS -q %QUEUE_CONFIGURED_BY_USER_VIA_DROPDOWN%
#PBS -N %JOB_NAME_CONFIGURED_BY_USER_VIA_DROPDOWN%
#PBS -P %JOB_PROJECT_CONFIGURED_BY_USER_VIA_DROPDOWN%
<div id="scheduler_parameters"></div>
<div id="user_pre_exec-preview"></div>
<div id="admin_pre_exec"></div>
<div id="path"></div><div id="ld_library_path"></div>
# [Begin] Command to be executed<br><div style="display: inline-block">
<span id="binary"></span> <span id="input_parameter"></span><span id="required_parameters"></span><span id="optional_parameters"></span><span id="user_customization-preview"></span>
</div>
<br># [End] Command to be execute<br>
<div id="admin_post_exec"></div>
<div id="user_post_exec-preview"></div>
 </pre>

                                   <script>
                                  function generateExample(idName, idValue) {
                                      textValue = ""
                                      switch (idName) {
                                          {%  for parameter_name, parameter_info in form_builder.items() %}
                                              case "{{ parameter_name }}":
                                                  paramValue = idValue.split(',');
                                                  {% if parameter_name == "scheduler_parameters"  %}
                                                      textValue += "{{ parameter_info.preview_value }}" + paramValue
                                                  {% else %}
                                                      for (i = 0; i < paramValue.length; i++) {
                                                          textValue += paramValue[i] + " {{ parameter_info.preview_value }}"
                                                      }
                                                 {% endif %}
                                                  break;
                                          {% endfor %}
                                      }

                                       if (idValue != "") {
                                           document.getElementById(idName).innerHTML = textValue;
                                       }
                                       else{
                                           document.getElementById(idName).innerHTML = "";
                                       }
                                  }
                              </script>
                              </div>


                 <div class="card card-body">

                                      <h4>How it works?</h4><br>
                                      Assuming your folder structure is
                                      <pre>
└── /apps
    └── /mysoftware
        ├── /bin
        |    └── solver
        ├── /libs
        └── .....
                                      </pre>
                                      And you submit a job using the following command: <br>
                                      <div class="inline" style="color: black">
                                          <code style="color: black">
                                          /apps/mysoftware/bin/solver <span style="background-color: lightcoral">--input</span> %INPUT_FILE%
                                          <span style="background-color: lightgreen">--cpus</span> 50
                                          <span style="background-color: lightblue">--type=explicit doubleprecision</span>
                                          <span style="background-color: lightyellow">--logs=mylog.txt</span>
                                          </code>
                                      </div>
                                      <br>

                                      With the following parameters:
                                      <li style="color: black"><span style="background-color: lightcoral">red</span> is the name for the input parameter</li>
                                      <li style="color: black"><span style="background-color: lightgreen">green</span>: is a parameter user must specify</li>
                                      <li style="color: black"><span style="background-color: lightblue">blue</span>: parameters you want to configure on behalf of the users (cannot be changed)</li>
                                      <li style="color: black"><span style="background-color: lightyellow">yellow</span>: Other parameter(s) your user can set if they want to</li>

                                      <br>
                                      Then your application profile will looks like:
                                      <li style="color: black">Application Binary: <code>/apps/mysoftware/bin/solver</code></li>
                                      <li style="color: black">Input parameter: <code>--input</code></li>
                                      <li style="color: black">Required parameters user has to configure: <code>--cpus</code></li>
                                      <li style="color: black">Required parameters configured on behalf of the user: <code>--type=explicit doubleprecision</code></li>
                                      <li style="color: black">(Optional) List of scheduler parameters: <code>scratch_size=500,instance_ami=ami-1234abcde</code></li>
                                      <li style="color: black">(Optional) $PATH: <code>/apps/mysoftware/bin</code></li>
                                      <li style="color: black">(Optional) $LD_LIBRARY_PATH: <code>/apps/mysoftware/libs</code></li>
                                      <li style="color: black">(Optional) $LD_LIBRARY_PATH: <code>https://wiki.mycompany.com/</code></li>

                                      <br>
                                      Job submitted will then looks like:
                                        <pre>
<code class="language-bash">
#PBS -q %QUEUE_CONFIGURED_BY_USER%
#PBS -N %JOB_NAME_CONFIGURED_BY_USER%
#PBS -P %JOB_PROJECT_CONFIGURED_BY_USER%
#PBS -l scratch_size=500,instance_ami=ami-1234abcde
# (Optional) Pre Execution
# Any command specified by the user during job submission

# Configure environment
cd %PATH_WHERE_INPUT_FILE_IS_LOCATED%
export PATH=$PATH:/apps/mysoftware/bin
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/apps/mysoftware/libs

# Run command
/apps/mysoftware/bin/solver --input %INPUT_FILE_CONFIGURED_BY_USER% \
    --cpus %VALUE_CONFIGURED_BY_USER%  \
    --type=explicit doubleprecision ## FOLLOWED BY OPTIONAL PARAMETERS CONFIGURED BY USER SUCH AS --logs=mylog.txt

# (Optional) Post Execution
# Any command specified by the user post job submission
</code></pre>

                                      <div class="alert alert-primary">
                                          <strong>Note:</strong> Scheduler resources are optional. If not set the job will use the value specified by default at the queue level.
                                      </div>


                      </div>




                    </div>

                      </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}





</body>

</html>
