<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}

    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    function formatBytes(a,b){if(0==a)return"0 Bytes";var c=1024,d=b||2,e=["Bytes","KB","MB","GB","TB","PB","EB","ZB","YB"],f=Math.floor(Math.log(a)/Math.log(c));return parseFloat((a/Math.pow(c,f)).toFixed(d))+" "+e[f]}

</script>
</head>

<body id="page-top" class="sidebar-toggled">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
              {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                  <div class="row">
                  <div class="col-md-12">
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/my_files"><i class="fas fa-home"></i></a></li>
                              {% for path,folder_name in breadcrumb.items() %}
                              <li class="breadcrumb-item"><a href="/my_files?path={{ path }}">{{folder_name}}</a></li>
                              {% endfor %}

                          </ol>

                      </nav>


<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload to SOCA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/upload"  id="drop" class="dropzone" style="border: 2px dashed #0087F7;height: 200px">
              <div class="fallback">
                  <input name="file" type="file" multiple />
              </div>
          </form>
          <hr>
          Do not close the page while uploading<br>
          It's recommended to use the <a href="/sftp">SOCA SFTP solution</a> when trying to upload large files (>300mb).

      </div>

    </div>
  </div>
</div>
                      <div class="row">
                           <div class="col-md-7">
                              <input type="text" id="searchFiles"  class="form-control" placeholder="Search for a file or a folder" aria-controls="list_files_table">
                          </div>
                          <div class="col-md-3">
                            <form class="form-inline" method="POST" action="/my_files/create_folder">
                              <div class="input-group">
                                  <input type="text" size="25" class="form-control" name="folder_name" required placeholder="Folder Name">
                                  <div class="input-group-append">
                                      <input type="hidden" name="path" value="{{ path }}/">
                                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                      <button class="btn btn-success" type="submit">Create Folder</button>
                                  </div>
                              </div>
                            </form>
                          </div>

                          <div class="col-md-2">
                              <button type="button" class="btn btn-warning form-control" data-toggle="modal" data-target="#uploadModal">Upload file(s)</button>
                          </div>
                      </div>
                      <div class="row">

                          <!-- <div class="col-md-3">
                          <br>
                              <h4><i class="far fa-folder-open fa-lg"></i> Folders</h4>
                              {% if not folders %}
                                  No folders
                              {% else %}
                                  {% for folder_name, folder_data in folders.items() %}
                                      <a href="/my_files/delete?uid={{ folder_data.uid }}"><i data-toggle="tooltip" data-placement="top" title="Delete folder" class="fas fa-trash-alt float-right fa-lg" style="color: grey"></i></a>
                                      <a href="/my_files?path={{ folder_data.path }}">  {{ folder_name|folder_name_truncate }}</a>
                                      <br>
                                  {% endfor %}
                              {% endif %}
                          </div> -->

                      <div class="col-md-12">
                      <br>
                          <table id="list_files_table" class="table row-border" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
         {%  for file_name,file_data in filesystem.items() %}
             <tr>
                 <td>
                    {% if file_data.type == "folder" %}

                        <i class="far fa-folder-open fa-lg"></i>
                        <strong><a href="/my_files?path={{ file_data.path }}"> {{ file_name }}</a></strong>
                        <div class="float-right">
                            <a href="/my_files/delete?uid={{ file_data.uid }}"><i data-toggle="tooltip" data-placement="top" title="Delete the folder" class="fas fa-trash-alt fa-lg"  style="color: grey"></i></a>
                        </div>
                    {% else %}

                        {% if file_name.endswith('.png') or file_name.endswith('.jpg') or file_name.endswith('.jpeg') %}
                            <i class="far fa-file-image fa-lg"></i>
                        {% elif file_name.endswith('.zip') or file_name.endswith('.tgz') or file_name.endswith('.tar.gz') or file_name.endswith('.rar') or file_name.endswith('.7z') %}
                            <i class="far fa-file-archive fa-lg"></i>
                        {% elif file_name.endswith('.pdf') %}
                            <i class="far fa-file-pdf fa-lg"></i>
                        {% elif file_name.endswith('.ppt') or file_name.endswith('.pptx') %}
                            <i class="far fa-file-powerpoint fa-lg"></i>
                        {% elif file_name.endswith('.csv') %}
                            <i class="fas fa-file-csv fa-lg"></i>
                        {% elif file_name.endswith('.avi') or file_name.endswith('.mkv') or file_name.endswith('.mpg')  %}
                            <i class="far fa-file-video fa-lg"></i>
                        {% elif file_name.endswith('.txt') or file_name.endswith('.log') or file_name.endswith('.cfg') or file_name.endswith('.conf')  %}
                            <i class="far fa-file-alt fa-lg"></i>
                        {% else %}
                            <i class="far fa-file-code fa-lg"></i>
                        {% endif %}
                        <a href="/my_files/download?uid={{ file_data.uid }}">
                         {{ file_name }}
                        </a>

                     <div class="float-right">
                         <a href="/my_files/download?uid={{ file_data.uid }}"><i data-toggle="tooltip" data-placement="top" title="Download this file" class="fa fa-file-download fa-lg"  style="color: grey"></i></a>
                         <a href="/submit_job?input_file={{ file_data.uid }}"><i data-toggle="tooltip" data-placement="top" title="Use as simulation input" class="fas fa-microchip fa-lg"  style="color: grey"></i></a>
                         <a target="_blank" href="/editor?uid={{ file_data.uid }}"><i data-toggle="tooltip" data-placement="top" title="Edit this file" class="fas fa-edit fa-lg" style="color: grey"></i></a>
                         <a  data-toggle="modal" data-target="#deleteModal{{ loop.index }}"><i data-toggle="tooltip" data-placement="top" title="Delete file" style="cursor: pointer" class="fas fa-trash-alt fa-lg" style="color: grey"></i></a>
                     </div>
                        <!-- Begin Modal DELETE -->
                        <div class="modal fade" id="deleteModal{{ loop.index }}" tabindex="-1" role="dialog"  aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Entering the danger zone</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div class="alert alert-danger">
                                      You are about to permanently delete a file from the filesystem
                                  </div>

                                  <a href="/my_files/delete?uid={{ file_data.uid }}">
                                      <button type="button" class="btn btn-danger form-control">Delete {{ file_name }}</button>
                                  </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endif %}
                 </td>
                 <td>
                     {% if file_data.type == "folder" %}
                         Directory
                     {% else %}
                         File
                     {% endif %}
                 <td>
                        {% if file_data.type != "folder" %}
                           {{ file_data.st_size }}
                     {% endif %}
                 </td>
              <td>
                  <script>
                      document.write(moment.unix({{ file_data.st_mtime }}).format('YYYY/MM/DD H:mm:ss'))
                  </script>
                 </td>

                     </tr>
         {% endfor %}


        </tbody>

    </table>

                      </div>

                      </div>








                  </div>

                  <script>
                      Dropzone.autoDiscover = false;
                      $("#drop").dropzone({
                          url: "/my_files/upload",
                          addRemoveLinks : true,
                          dictDefaultMessage: '<i class="fas fa-cloud-upload-alt fa-3x"></i> <h4>Drag and Drop files to upload or click</h4> File(s) will be uploaded under {{ path }}',
                          maxFilesize: 10,
                          params: {
                                 path: "{{ path }}/"
                          },
                          dictResponseError: 'Error uploading file!',
                          headers: {
                              'X-CSRFToken': "{{ csrf_token() |safe }}"
                          },
                          init: function () {
                              this.on('complete', function () {
                                  location.reload();
                              });

                          }
                      });


                      $(document).ready(function() {

                          // enable tooltip
                          $(function () {
                              $('[data-toggle="tooltip"]').tooltip()
                          })

                          // build datatable
                          dtable = $('#list_files_table').DataTable({
                              sorting: false,
                              paging: true,
                              pagingType: "full_numbers",
                              lengthMenu: [[100, 300, 500, -1], [100, 300, 500, "All"]],
                              language: {
                                emptyTable: "<h4>No files in this directory</h4>",
                              },
                              'sDom': 'tpl',
                              fixedColumns: {
                                  heightMatch: 'none'
                              },
                          });
                          // bind search input
                          $('#searchFiles').keyup(function(){
                              dtable.search($(this).val()).draw() ;
                          })
                          $('.dataTables_filter input[type="search"]').css({'display':'none'});
                      });
                  </script>





                  </div>








                  </div>


              </main>




              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
