<!DOCTYPE html>
<html lang="en">

<head>
     {% include 'common/header.html' %}

    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <br>
          <div class="container-fluid">
              {% include 'common/horizontal_menu_bar.html' %}
              <main role="main">
              {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <br>
                                {% if category == "success" %}
                                <div class="alert alert-success">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% else %}
                                 <div class="alert alert-danger">
                                    <strong>{{ message | safe }} </strong>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                  <div class="row">
                      <div class="card shadow mb-4" style="width: 100%">
                          <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Launching your {{ application_parameters.profile_name }} simulation </h6>
                          </div>
                          <div class="card-body">
                              <form>
                                  {% if application_parameters.help %}
                                      <div class="alert alert-primary">
                                      Documentation available at: <a href="{{ application_parameters.help }}" target="_blank">{{ application_parameters.help }}</a>
                                      </div>
                                  {% endif %}

                                  <h3> Job Information</h3>
                                  <div class="form-group row">
                                      <label for="job_name" class="col-sm-2 col-form-label">Job Name:</label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="job_name" value="{{ input_name }}">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label for="job_project" class="col-sm-2 col-form-label">Job Project:</label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="job_project" placeholder="(Optional) Project assigned to this simulation">
                                      </div>
                                  </div>
                              <div class="form-group row">
                                      <label for="job_project" class="col-sm-2 col-form-label">Job Queue:</label>
                                      <div class="col-sm-10">
                                          <select class="form-control" name='job_queue' id="job_queue">
                                                  <option value="f">queue</option>

                                          </select>
                                      </div>
                                  </div>
                              <div class="form-group row">
                                      <label for="job_project" class="col-sm-2 col-form-label">Number of CPUs:</label>
                                      <div class="col-sm-10">
                                        <input type="text" class="form-control" id="job_cpus" placeholder="Number of CPUs to allocate for this simulation">
                                      </div>
                              </div>


                                  <hr>
                                  <h3> Job Parameters</h3>
                                  <div class="form-group">
                                      <div class="input-group mb-2">
                                          <div class="input-group-prepend">
                                              <div class="input-group-text">Input file</div>
                                          </div>
                                          <input disabled type="text" class="form-control"  name="input_file" id="input_file" value="{{ input_path }}">
                                      </div>
                                  </div>

                                  {% for user_params in application_parameters.required_parameters  %}
                                      <div class="form-group">
                                          <div class="input-group mb-2">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text">{{ user_params }}</div>
                                              </div>
                                              <input type="text" class="form-control"  name="required_parameters_{{ user_params }}" id="required_parameters_{{ user_params }}" placeholder="Enter value for {{ user_params }} parameter">
                                          </div>
                                      </div>
                                  {% endfor %}

                                  {% if application_parameters.ld_library_path %}
                                    <div class="form-group">
                                          <div class="input-group mb-2">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text">Added following path to $LD_LIBRARY_PATH</div>
                                              </div>
                                              <input type="text" class="form-control"  disabled value="{{  application_parameters.ld_library_path }}">
                                          </div>
                                      </div>
                                  {% endif %}

                                  {% if application_parameters.path %}
                                    <div class="form-group">
                                          <div class="input-group mb-2">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text">Added following path to $path</div>
                                              </div>
                                              <input type="text" class="form-control"  disabled value="{{  application_parameters.path }}">
                                          </div>
                                      </div>
                                  {% endif %}

                                  <div class="form-group">
                                      <label for="pre_exec">This code will be executed <strong>BEFORE</strong> your simulation</label>
                                      <br>
                                      {% if application_parameters.pre_exec == True %}
                                          <textarea class="form-control" id="pre_exec" rows="5"></textarea>
                                      {% else %}
                                          <span class="badge badge-warning">Feature disabled by admin for this application</span>
                                      {% endif %}
                                  </div>

                                  <div class="form-group">
                                      <label for="pre_exec">This code will be executed <strong>AFTER</strong> your simulation</label>:
                                      <br>
                                      {% if application_parameters.post_exec == True %}
                                          <textarea class="form-control" id="post_exec" rows="5"></textarea>
                                      {% else %}
                                          <span class="badge badge-warning">Feature disabled by admin for this application</span>
                                      {% endif %}
                                  </div>


                                  <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                          </div>
                      </div>






                  </div>

              </main>




              </div>
          </div>
      </div>

  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


    {% include 'common/footer.html' %}

</body>

</html>
