************* SOCA FIRST TIME CONFIGURATION *************

     Hold on, cluster is not ready yet.
     Please wait ~30 minutes as SOCA is being installed.
     Once cluster is ready to use, this message will be replaced automatically and you will be able to SSH.

     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     If you still want to access the master host, use AWS Session Manager:
     https://awslabs.github.io/scale-out-computing-on-aws/install-soca-cluster/#what-if-ssh-port-22-is-blocked-by-your-it

     To check the logs:
     > /var/log/message and grep for cloud-init to find EC2 UserData related errors
     > /root/AnsibleMasterHostConfiguration.log for Ansible bootstrap logs
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

********************************************************